*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;  
}


body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    
}
.container{ 
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #93B4C3;
    border: 20px solid #3F7379;
    position: relative;
    align-items: center;
}

#item1{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 50px solid #3F7379;
    rotate: 180deg;
    position: absolute;
    top: 0;
    left: 0;
}

#item2{
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #3F7379;
    position: absolute;
    bottom: 0;
    right: 0;
    rotate: 180deg;
}



form{
    
    
}

form button{
    background-color: #3F7379;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: relative ;
    
}

form input{
    padding: 8px;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    outline: none;
    
}

form #img-add{
    top: 39%;
    z-index: 1;
    right: 5%;
    top:8px;
    width: 50px;
    height: 50px;
    color:#fff;
    font-size: 32px;
}
h1{
    color: #16363a;
}